/* styles.css */
.slide-in {
  animation: slideIn 0.5s ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.custom-scroll-bar::-webkit-scrollbar {
  width: 5px;
  height: 2px;
}

.custom-scroll-bar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll-bar::-webkit-scrollbar-thumb {
  background: #c2c2c2;
}

.custom-scroll-bar::-webkit-scrollbar-thumb:hover {
  background: #bcbdbe;
}

.chat-bubble-container {
  display: flex;
  max-width: 748px;
  border-radius: 0.75rem;
  width: 100%;
  flex-grow: 1;
  max-height: 100%;
  flex-direction: column;
  background-color: #f6f6f6;
}

.chat-message-child {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  height: 100%;
}

.chat-bubble {
  display: flex;
}

.user-chat-bubble {
  align-items: flex-end;
  justify-content: flex-end;
}

.ai-chat-bubble {
  align-items: flex-start;
  justify-content: flex-start;
}

.chat-bubble-child {
  position: relative;
  color: rgb(0 0 0 / 0.9);
  border-radius: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 80%;
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.chat-bubble-child-user {
  background-color: #e5e5e5;
}

.chat-bubble-child-ai {
  background-color: #e3d9ff;
}

.message {
  font-size: 15px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chatBoxAi:after {
  content: "";
  border: 12px solid #e3d9ff;
  border-top-left-radius: 8px;
  border-bottom-color: transparent;
  border-left-color: transparent;
  position: absolute;
  top: 0;
  left: -14px;
}

.chatBoxUser:after {
  content: "";
  border: 12px solid #e5e5e5;
  border-top-right-radius: 8px;
  border-bottom-color: transparent;
  border-right-color: transparent;
  position: absolute;
  top: 0;
  right: -14px;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.2, 0.2, 0.2);
  }

  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.2, 0.2, 0.2);
  }

  50% {
    opacity: 1;
  }
}

.chat-msg-animation {
  -webkit-animation: zoomIn 0.3s ease forwards;
  animation: zoomIn 0.3s ease forwards;
}

.input-container {
  display: flex;
  position: sticky;
  bottom: 0px;
  width: 296px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.input-container-child {
  height: 40px !important;
  width: 100%;
  position: relative;
}

.user-input-container {
  display: flex;
  border-radius: 0.25rem;
  width: 235px;
  border-width: 1px;
  background-color: white;
  padding-left: 1rem;
  padding-right: 40px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  border-color: #e5e5e5;
}

.user-input-container:focus {
  border-color: #5e5edd;
}

.user-input {
  width: 100%;
  resize: none;
  font-size: 15px;
  max-height: 60px;
  overflow-y: auto;
  outline: none;
  height: 100%;
  border: transparent;
}

.send-message-button {
  position: absolute;
  right: 0.625rem;
  top: 30%;
  cursor: pointer;
  border-radius: 9999px;
  outline: none;
  border: none;
  background-color: transparent;
}

.loader {
  padding-left: 1.5rem /* 24px */;
  padding-right: 1.5rem /* 24px */;
  padding-top: 0.5rem /* 8px */;
  padding-bottom: 0.5rem /* 8px */;
  color: rgb(0 0 0 / 0.5);
  font-size: 0.75rem /* 12px */;
  line-height: 1rem /* 16px */;
  display: none;
  align-items: center;
  column-gap: 0.25rem /* 4px */;
}

@keyframes TypingAnimation {
  0% {
    transform: translateY(0px);
    background-color: #878787cc;
  }
  28% {
    transform: translateY(-2px);
    background-color: #87878793;
  }
  44% {
    transform: translateY(0px);
    background-color: #878787cc;
  }
}

.typing {
  align-items: center;
  display: flex;
}

.typing.typing-xs .typing-dot {
  height: 2px;
  margin-right: 2px;
  width: 2px;
}

.typing-dot {
  animation: TypingAnimation 1.8s infinite ease-in-out;
  background-color: #878787;
  border-radius: 100%;
  vertical-align: middle;
  display: inline-block;
}

.typing-dot:nth-child(1) {
  animation-delay: 100ms;
}

.typing-dot:nth-child(2) {
  animation-delay: 200ms;
}

.typing-dot:nth-child(3) {
  animation-delay: 300ms;
}

.typing-dot:last-child {
  margin-right: 0;
}
